html {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 44);
}

#head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_header{
    width: 8%;
    position: relative;
    float: left;
}

#nav a {
    display: block;
    padding: 1em;

}


ul{
    display: inline-block;
    text-transform: uppercase;
    
}

li{
    display: inline-block;
    margin:0 20px;
}

li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}