html {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 44, 44);
}

#head {
    
}

#logo_header{
    width: 8%;
}

ul{
    display: inline-block;
    text-transform: uppercase;
}

li{
    display: inline-block;
    float: left;
    margin:0 20px;
}

li a{
    text-decoration: none;
    color: white;
}

#home{

    
}

#about_us{


}

#service{


}

#contact{


}